<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "error") %>
        отмена <%= object.class.to_s.underscore.humanize.downcase %>
      сохранения пользователя:</h2>
    <p>Возникли проблемы со следующими полями:</p>
    <ul>
    
     <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


 
    
      
   
