<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="post">Что нового?</h1>
        <%= render 'shared/post_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Блог</h1>
 <p>
     Это домашняя страница
      <a href="http://vk.com/captain_caplokc">me</a>
      
 </p>
 <%= link_to "Регистрация!", signup_path, :class => "signup_button round" %>
<% end %>


