<h1>Все метки</h1>
<ul class="tags">
<table>
<tr>

<th>Название</th>

<th></th>



</tr>
  <% @tags.each do |tag| %>
<tr>

  <% tag.posts.each do |post| %>
     <td> <%= post.tag_names %> 
           <%= link_to "подробнее", tag_path(tag.id) %>
     </td>

 
 <% end %>
   
  <td>
    <%= link_to "подробнее", tag_path(tag.id) %>
  </td>
 
 </tr>
<% end %>
</table>
</ul>
<br />


<%= link_to 'Домашняя страница', root_path %>


