# encoding: utf-8
<h1>Список постов с этим тегом</h1>


<% @posts.each do |post| %>
 <tr>
 <em> Заголовок:</em>
 <td><%= post.title %></td>
  <br />
 <em> Текст:</em>
  <td><%= post.content %></td>
   <br />
<td><%= post.tag_name %></td>
   <br />
   <td>
    <%= link_to "подробнее", post %>
  </td>
<br />


</tr>
<% end %>


