<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Обо мне", about_path %></li>
      <li><%= link_to "Контакт", contact_path %></li>
      <li><a href="http://vk.com/">Me</a></li>
      <li><a href="http://vk.com/captain_caplokc">I</a></li>
    </ul>
  </nav>
</footer>
