<header>
  <%= image_tag(src="/images/logo.png", :alt => "Sample App", :class => "round") %>
  
  <nav class="round">
    <ul>
      <li><%= link_to "Домашняя страница", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Войти", '#' %></li>
    </ul>
  </nav>
</header>

